@import "tailwindcss";

:root {
  --black: #1a1a1a;
  --pink-primary: #ff6193;
  --pink-secondary: #ffbed3;
  --pink-accent: #90002e;
  --white-primary: #f8f8f8;
  --white-secondary: #ffffff;
}

body {
  background: var(--black);
  padding-inline: max(20px, 50% - 60rem / 2);
  font-family: helvetica;
}

p {
  color: var(--white-primary);
}

h1 {
  color: var(--pink-secondary);
  font-size: 128px;
  font-weight: 800;
  text-transform: uppercase;
}
